// Source - https://stackoverflow.com/a/72147109
// Posted by Mustafa Deniz
// Retrieved 2026-04-02, License - CC BY-SA 4.0

RewriteEngine On
RewriteBase /
RewriteCond $1 !^(index\.html|assets|robots\.txt|favicon\.png)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.html [L]
